<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-mensajes *ngIf="folder==='Mensajes'"></app-mensajes>
  <app-albumes *ngIf="folder==='Albumes'"></app-albumes>
  <app-perfil *ngIf="folder==='Perfil'"></app-perfil>
  <app-trueques *ngIf="folder==='Trueques'"></app-trueques>
</ion-content>
