<ion-header>
  <ion-toolbar>
      <ion-button slot="start" defaultHref="/home" (click)="closeProduct()" fill="none">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

    <ion-title (click)="verPerfil()">Publicado por:<a>{{usuarioP.nombre}}</a> </ion-title><!-- <span>{{usuarioP.nombre}}</span> -->
    <ion-button *ngIf="!ownerOfProduct" slot="end" (click)="crearChat()" fill="none">
      <ion-icon name="chatbubbles-sharp" color="danger"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img [src]="producto.imagen" />
    <ion-fab vertical="center" horizontal="end">
      <ion-fab-button *ngIf="!ownerOfProduct" (click)="trocar(producto)" color="tertiary" size="small">
        <ion-icon name="sync"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-card-header>
      <ion-card-subtitle>{{producto.etiquetas}}</ion-card-subtitle>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{producto.descripcion}}</p>
      <p *ngIf="!producto.estado" style="color: red;"><b>Este producto se eliminará, luego de finalizado el proceso de intercambio</b></p>
    </ion-card-content>
  </ion-card>
</ion-content>