<ion-header>
  <ion-toolbar>
      <ion-button slot="start" defaultHref="/home" (click)="closeProduct()" fill="none">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>

    <ion-title>Publicado por: {{usuarioP.nombre}}</ion-title>
    <ion-button *ngIf="!ownerOfProduct" slot="end" (click)="crearChat()" fill="none">
      <ion-icon name="chatbubbles-sharp" color="danger"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <img [src]="producto.imagen" />
    <ion-card-header>
      <ion-card-subtitle>{{producto.etiquetas}}</ion-card-subtitle>
      <ion-card-title>{{producto.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{producto.descripcion}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>