<ion-header>
</ion-header>
<ion-content padding>
  <ion-item *ngFor="let grupo of grupos">
    <ion-avatar slot="start" (click)="openGrupo(grupo)">
      <ion-img [src]="grupo.imagen"></ion-img>
    </ion-avatar>
    <ion-label (click)="openGrupo(grupo)">
      <h2><b>{{grupo.nombre}}</b></h2>
      <div>
        <p>{{grupo.descripcion}}</p>
      </div>
    </ion-label>
    <ion-button color="tertiary" (click)="accion('M', grupo)" >
      <ion-icon color="light" name="create"></ion-icon>
    </ion-button>
    <ion-button color="secondary" (click)="accion('B', grupo)" >
      <ion-icon color="light" name="trash"></ion-icon>
    </ion-button>
  </ion-item>

</ion-content>