ion-content{
    --background: #203024;
}

ion-card{
    --background: #ffffff;
}

ion-card-subtitle{
    margin-right: 5%;
}

.emisor{
    --background: #8c00ff;
    --color: white;
    font-weight: bold;
    font-family: Questrial !important;
    margin-left: 30%;
    border-radius:  40px 40px 0px 40px;
}

.receptor{
    --background: #7ccf87;
    --color: black;
    font-weight: bold;
    margin-right: 30%;
    border-radius:  0px 20px 20px 20px;
}

ion-textarea{
    font-weight: bold;
    font-family: Questrial !important;
    --color: #32005a;
    --background: #ade9bb;
}

ion-button{
    --color: #06d45c;
    --background: #5f3085;
}

.textArea{
    --background: #baf0c7;
}

@font-face {
    font-family: "Questrial";
    src: url('../../../assets/font/Questrial/Questrial-Regular.ttf');
}
