<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button  (click)="closeChat()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>{{chat.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content #content>
  <div *ngIf="room">
    <ion-card *ngFor="let mensaje of room" [ngClass]="{emisor: mensaje.owner === userLogin, receptor: mensaje.owner != userLogin}"><!--mensaje.owner = userLogin ? 'class1' : ''-->
      <ion-card-content><!-- REVISAR ES ACA DONDE TIRA EL ERROR POR NGFOR -->
        {{mensaje.content}}
      </ion-card-content>
      <ion-card-subtitle style="text-align:end;color: black;">{{mensaje.date * 1000 | date: 'd/M h:mm' }}</ion-card-subtitle>
    </ion-card>
  </div> 
</ion-content>
<ion-footer  padding>
  <ion-item class="textArea">
    <ion-textarea (click)="scrollToBottomOnInit()" [(ngModel)]="mens"></ion-textarea>
    <ion-button class="btnEnv" shape="round" size="large" (click)="sendMessage()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>