<ion-content padding>
  <ion-list>
    <div style="text-align: center;">
      <ion-label class="noHayChat" *ngIf="noHayChat">Todavia no has iniciado un chat!</ion-label>
    </div>
    <div *ngIf="!noHayChat">
      <ion-item *ngFor="let mens of mensajesBis" (click)="openChat(mens)">
        <ion-avatar slot="start">
          <ion-img [src]="mens.imagen"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2><b>{{mens.nombre}}</b></h2>
          <div *ngIf="(!mens.ult.read) && mens.ult.owner !== mens.id">
            <p><b>{{mens.ult.content}}<ion-icon name="alert-circle-outline" color="success"></ion-icon></b></p>
          </div>
          <div *ngIf="mens.ult.read || mens.ult.owner === mens.id">
            <p>{{mens.ult.content}}</p>
          </div>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>
</ion-content>