

<ion-content class="background" padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title><img class="icon" src="assets/icon/ECDT1024LBlancas.png" alt="" ></ion-card-title>
    </ion-card-header>
    
        
    <ion-card-content>
      <div *ngIf="!mostrar"><ion-button color="success" (click)="sesion()" expand="block" >Iniciar Sesión</ion-button>  </div>
      <ion-card>
        <ion-card-content *ngIf="mostrar">
          <ion-item class="transparent">
        <ion-label position="floating" color="success" size="large"> Correo</ion-label>
        <ion-input  color="success" type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item class="transparent">
        <ion-label color="primary" position="floating" size="large">Contraseña</ion-label>
        <ion-input  color="primary" type="password" [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <br>
      <ion-button (click)="OnSubmitLogin()" expand="block" color="danger">Entrar</ion-button>
        </ion-card-content>
      </ion-card>
      <ion-button routerLink="/registro" expand="block" >Registrarme</ion-button>   
      <div class="form-group">
        <ion-button class="facebook" (click)="loginFacebook()" shape="round">
          Continuar con <ion-icon name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button class="google" (click)="loginGoogle()" shape="round">
          
          Continuar con <ion-icon name="logo-google"></ion-icon>
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
