/* ion-modal{
    padding: 30px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 25px;
  background: transparent !important;
  } */
ion-card{
    margin: auto;
    width: 80%;
}

.puntua{
    font-size: 25px;
}

.ok{
    color: #8a2cc1;
}
.no{
    color: #165e43;
}

ion-textarea{
    //font-size: 20px;
}