<ion-fab *ngIf="userParam==undefined" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="tertiary">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="danger" (click)="openGallery(album)">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="danger" (click)="openCamera(album)">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
<ion-header>
  <ion-toolbar *ngIf="userParam!==undefined">
    <ion-button slot="start" (click)="closeAlbum()" fill="none">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> 
<ion-content padding>
  <ion-list *ngFor="let album of albumes">
    <ion-card (click)="openAlbum(album)">
      <ion-card-header>
        <img [src]="album.imagen" />
        <ion-card-title>{{album.nombre}}</ion-card-title>
        <ion-card-subtitle>Cantidad de Artículos:{{album.cantProd}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{album.descripcion}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>