<!-- <ion-content padding>
  <ion-list>
    <div style="text-align: center;">
      <ion-label class="noHayChat" *ngIf="noHayChat">Todavia no has iniciado un trueques!</ion-label>
    </div>
    <div *ngIf="!noHayChat">
      <ion-item *ngFor="let mens of mensajesBis" (click)="openChat(mens)">
        <ion-avatar slot="start">
          <ion-img [src]="mens.imagen"></ion-img>
        </ion-avatar>
        <ion-label>
          <h2><b>{{mens.nombre}}</b></h2>
          <h3>{{mens.descripcion}}</h3>
          <p>Accede con click</p>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>
</ion-content>
 -->